In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
calories = pd.read_csv('data/calories.csv')

In [3]:
exercise = pd.read_csv('data/exercise.csv')

In [4]:
calories.head()

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0
3  16180408      71.0
4  17771927      35.0

In [5]:
exercise.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [23]:
dataset = pd.DataFrame()

In [24]:
n = len(exercise['User_ID'])
print(n)
for i in range(n):
    if exercise['User_ID'][i] != calories['User_ID'][i]:
        print("mis match")

15000

In [30]:
dataset['User_ID'] = exercise['User_ID']
dataset['Gender'] = exercise['Gender']
dataset['Age'] = exercise['Age']
dataset['Height'] = exercise['Height']
dataset['Weight'] = exercise['Weight']
dataset['Duration'] = exercise['Duration']
dataset['Heart_Rate'] = exercise['Heart_Rate']
dataset['Body_Temp'] = exercise['Body_Temp']
dataset['Calories'] = calories['Calories']

##### male 0 female 1

In [34]:
dataset['Gender'].replace(to_replace = 'female', value = 1, inplace = True)
dataset['Gender'].replace(to_replace = 'male', value = 0, inplace = True)

In [35]:
dataset.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,0,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,1,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,0,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,1,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,1,27,154.0,58.0,10.0,81.0,39.8,35.0

In [36]:
dataset.to_csv('Processed Dataset.csv')